.App {
  display: grid;
  justify-content: center;
  align-items: center;

  margin: 50px 0;
}

.card {
  width: 30vw;
  text-align: center;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 2%;
  box-shadow: grey 5px 5px 3px;
}

button {
  font-size: larger;
  cursor: pointer;
  margin: 10px;
}

button:focus {
  outline: none;
}
