.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vw;
}

.card {
  text-align: center;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 2%;
  box-shadow: grey 5px 5px 3px;
}

button {
  font-size: larger;
  cursor: pointer;
  margin: 10px;
}

button:focus {
  outline: none;
}
